/* SMDU Identity Bar */

#smdu-identity-bar
{
    background: #f4f3ee;
    font-size: 80%;
    padding: 10px 0;
}
.identity-wrapper {
    width: 960px;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    display: flex;
}

#smdu-identity-bar div a {
    color: black;
}
.smdu-info {
    background: url(++resource++smdu.identidadevisual/info.png) no-repeat scroll left center;
    color: black;
    padding: 1em 0 1em 22px;
}
/* footer */
#smdu-global-footer
{
    align-items: flex-start;
    background: #f4f3ee;
    display: flex;
    font-size: 80%;
    justify-content: space-between;
    margin: 0;
    padding: 2em 1em;

}
#smdu-site-footer
{
    align-items: flex-start;
    background: #f4f3ee;
    border-top: 1px solid #ccc;
    display: flex;
    font-size: 80%;
    justify-content: space-between;
    padding: 2em 1em;
}
#smdu-global-footer ul, #smdu-site-footer ul {
    margin-bottom: 2em;
}
#smdu-global-footer li, #smdu-site-footer li {
    display: block;
}
footer h4 {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1em;
}
#smdu-site-footer h4 {
    margin-bottom: 0;
}
#smdu-global-footer div, #smdu-site-footer div
{
    width: 24%;
}
#smdu-global-footer select {
    width: 80%;
    background: #e3e3e3;
    border: none;
    padding: 5px;
}
.icons-logo {
    background: url('++resource++smdu.identidadevisual/pmsp.png') no-repeat;
    display: inline-block;
    height: 50px;
    width: 182px;
}
.icons-cc {
    background: url('++resource++smdu.identidadevisual/cc.png') no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
}
/* sprites */
.icons-facebook, .icons-syndication, .icons-twitter, .icons-youtube {
    background: url('++resource++smdu.identidadevisual/social-networks.png') no-repeat;
    display: inline-block;
    height: 34px;
    margin-top: 1em;
    width: 34px !important;
}
.icons-facebook {
    background-position: -100px -26px;
}
.icons-syndication {
    background-position: -26px -26px;
}
.icons-twitter {
    background-position: -176px -26px;
}
.icons-youtube {
    background-position: -176px -103px;
}
